.row{
    font-size:12px;width:100%;font-color:black;line-height: 2em
}
.table_einvoice{
    font-size:12px;width:100%;font-color:black;border: 1px solid #7d7d7d; border-collapse: collapse; width:100%;line-height: 2em
}

.table_ewh{
    font-size:12px;width:100%;font-color:black;border: 1px solid #7d7d7d; border-collapse: collapse; width:100%;line-height: 2em
}

.table_ewh td{
    border: 1px solid #7d7d7d;
}

.div_einfo{
    float: left;width: 50%;padding: 5px;
}

.table-sm thead {
    text-align:center;font-size:12px
}

.table-sm thead th{
    border: 1px solid #7d7d7d
}

.invoice_tbody {
    text-align:center;font-size:12px
}

.invoice_tbody tr td{
    border: 1px solid #7d7d7d
}

.table_einfo{
    font-size:12px;width:100%;font-color:black;border: 1px solid #7d7d7d; border-collapse: collapse; width:100%;line-height: 2em
}

.table_einfo td{
    padding-left: 5px
}

.table_epago{
    text-align:center;font-size:12px;width:100%;font-color:black;border: 1px solid #7d7d7d; border-collapse: collapse; width:100%;line-height: 2em
}

.epago_thead td{
    padding-left: 5px;border: 1px solid #7d7d7d;font-weight:bold;text-align:center
}

.logo{
    width: 330px; height: 130px;text-align:center
}
.einvoice_address{
    height:60%;padding-left:7px;padding-top:20px;padding-bottom:70px;border:1px solid #7d7d7d;
}

.einvoice_type{
    border:1px solid #7d7d7d;margin-left:10px
}

.einvoice_address h4{
    text-align:center;padding-bottom:5px
}
.einvoice_address .span{
    font-weight:bold;padding-bottom:3px
}
