[submodule "xmarts/ks-dashboard-ninja"]
	path = xmarts/ks-dashboard-ninja
	url = git@github.com:xmarts/ks-dashboard-ninja.git
	branch = 14.0



[submodule "xmarts/l10n_ec_einvoice"]
	path = xmarts/l10n_ec_einvoice
	url = git@github.com:xmarts/l10n_ec_einvoice.git
	branch = 14.0


[submodule "xmarts/l10n_ec_obscura_ops"]
	path = xmarts/l10n_ec_obscura_ops
	url = git@github.com:xmarts/l10n_ec_obscura_ops.git
	branch = 14.0
